body{
    background-color: #010101;
    color: #ffffff;
    font-family: 'Noto Sans';
    overflow-x: hidden;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(Noto-Sans/NotoSans-Bold.ttf);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    gap: 20px;
}

img{
    max-width: 100%;
    height: auto;
}

#weather{
    width: 30%;
    display: flex;
    align-items: flex-start;
}

#news{
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.news-item{
    cursor: pointer;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.news-item.read{
    background-color: #1a1a1a;
    color: #808080;
}

.news-item:hover{
    background-color: #1a1a1a;
}

.news-item>section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.selections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.selection{
    cursor: pointer;
}

.news-icon{
    width: 40px;
    height: 30px;
}

.news-image{
    width: 100%;
    height: auto;
}

.forecast-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.tagesschau{
    width: 30px;
}

.zdf{
    width: 50px;
}

.zeit{
    width: 130px;
    filter: invert(1);
}

.spiegel{
    width: 30px;
}

.t_online{
    width: 85px;
}

.heise{
    width: 130px;
}

.golem{
    width: 50px;
}

.reddit{
    width: 30px;
}

.reddit_article>table>tbody>tr{
    display: flex;
    flex-direction: column;
}