body{
    background-color: #010101;
    color: #ffffff;
    font-family: 'Noto Sans';
}

@font-face {
    font-family: 'Noto Sans';
    src: url(Noto-Sans/NotoSans-Bold.ttf);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    gap: 20px;
}

#weather{
    width: 30%;
    display: flex;
    align-items: flex-start;
}

#news{
    width: 69%;
}

.news-item{
    cursor: pointer;
}


.selections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.selection{
    cursor: pointer;
}

.news-icon{
    width: 40px;
    height: 30px;
}

.news-image{
    width: 100%;
    height: auto;
}

.forecast-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}